///Inicialización de todo el documento
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

///Inicialización de HTML
body{
    background-color: color(secondary);
    @include flexposition();
}

///Container principal
.mainContainer {
    @include gridposition(repeat(3, min-content), (minmax(2rem, 1fr) repeat(8, minmax(1rem, 20rem)) minmax(2rem, 1fr)));
    grid-gap: 1.6rem;
    background-color: color(secondary) !important;
    max-width: 2400px;

    &.noGap{
        grid-gap: 0;
    }
    footer{
        grid-row: 3/4;
        grid-column: 1/-1;
    }
    header{
        grid-row: 1/2;
        grid-column: 1/-1;
      
    }
}

///Inicialización de h1
h1 {
    font-size: size(lg);
    font-weight: width(bold);
    color: color(quater-darker);
    margin-bottom: 1rem;
    font-family: $font-title;
}

///Inicialización de h2
h2{
    font-size: size(md);
    font-weight: width(bold);
    color: color(quater-darker);
    margin-bottom: 1rem;
    font-family: $font-title;
}

///Inicialización de h3
h3{
    font-size: size(sm);
    font-weight: width(bold);
    color: color(quater-darker);
    margin-bottom: 1rem;
    font-family: $font-title;
}

///Inicialización de botones btn
.btn {
    &-success {
        background-color: color(quaternary);
        color: color(secondary);
        border: none;
        padding: 0.5rem 1rem;
        font-size: size(xs);
        transition: all 0.3s ease;   
    }
}

///Inicialización de la equiteta 'tipo' de los elementos
.tipo{
    background-color: color(reddish);
    color: color(secondary);
    border-radius: 4rem;
    padding: 0.25rem .5rem;
    font-weight: weight(bold);
}