@import "../node_modules/bootstrap/scss/bootstrap";
@import "./variables";
@import "./mixin";
@import "./base";

@import './layout/menu.scss';
@import './layout/genero.scss';
@import './layout/detalle.scss';
@import './layout/information.scss';

@import './components/header.scss';
@import './components/carrusel.scss';
@import './components/footer.scss';
@import './components/hero.scss';
@import './components/filtro.scss';
@import './components/card.scss';
@import './components/modal.scss';
@import './components/scrollspy.scss';