///Componente Header
header {
  background-color: color(primary);

  .navbar {
    @include gridposition();
    .cabecera {
      @include gridposition((6rem, 1fr), (1fr minmax(max-content, 5rem) minmax(5rem, 6rem)));
      &-imagen {
        grid-row: 1/2;
        width: 5rem;
        margin-left: 1rem;
        object-fit: cover;
        img {
          width: inherit;
        }
      }
      &-boton {
        margin-right: 0.5rem;
        grid-row: 1/2;
        grid-column: 3/4;
        justify-content: end;
        align-items: center;
        border-radius: 2rem;
        &:hover {
          cursor:pointer;
        }
      }
      &-lista {
        @include responsive(tablet) {
          grid-row: 2/4;
          grid-column: 1/3;
          justify-content: flex-end;
          align-items: center;

          .nav-link {
            font-size: size(xs);
            font-weight: width(regular);
            padding: 0 1rem;
            transition: all 0.3s ease;
            margin: 0.5rem;
            &:hover {
              color: color(quaternary);
            }
          }
        }
        ul{
          .nav-item{
            a{
              &:hover{
                color: color(quaternary);
              }
            }
          }
        }

      }

    }
  }
}