///Cards Carousel
.icon-cards {
    margin: auto;
    position: relative;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    perspective: 30rem;
    transform-origin: center;

///Esto es lo que hace que rote 
    &-content {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: translateZ(-30vw) rotateY(0);
        animation: carousel 20s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;

        &.step-animation {
            animation: carousel 8s infinite steps(1) forwards;
        }
    }

    ///Cards individuales
    &-item {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 60vw;
        height: 40vw;
        max-width: 380px;
        max-height: 250px;
        @extend %sombra;
        border-radius: 6px;
        transform-origin: center;
        img{
            width: 150%;
            height: 150%;
            object-fit: cover;
            border-radius: 6px;
        }
        &:nth-child(1) {
            background: color(secondary);
            transform: rotateY(0) translateZ(35vw);
        }

        &:nth-child(2) {
            background: color(secondary);
            transform: rotateY(120deg) translateZ(35vw);
        }

        &:nth-child(3) {
            background: color(secondary);
            transform: rotateY(240deg) translateZ(35vw);
        }
    }
}

///Animacion del carrusel
@keyframes carousel {

    0%,
    17.5% {
        transform: translateZ(-35vw) rotateY(0);
    }

    27.5%,
    45% {
        transform: translateZ(-35vw) rotateY(-120deg);
    }

    55%,
    72.5% {
        transform: translateZ(-35vw) rotateY(-240deg);
    }

    82.5%,
    100% {
        transform: translateZ(-35vw) rotateY(-360deg);
    }
}